.button-background(@color, @percent: 10%) {
    background-color: @color;
    &:not([disabled]):hover {
        background-color: darken(@color, @percent);
    }
    &:not([disabled]):focus {
        background-color: lighten(@color, @percent);
    }
    &:not([disabled]):active {
        background-color: lighten(@color, @percent);
    }
}
.button-border(@color, @percent: 10%) {
    border-color: @color;
    &:not([disabled]):hover {
        border-color: darken(@color, @percent);
    }
    &:not([disabled]):focus {
        border-color: lighten(@color, @percent);
    }
    &:not([disabled]):active {
        border-color: lighten(@color, @percent);
    }
}
